.div1 {
  background: rgb(230, 178, 188);
  width: 90px;
  height: 90px;
  border: 4px solid crimson;
  border-radius: 10px;
  animation-name: animation1;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

h1{
  color: rgb(88, 123, 111);
  background-color: aqua;
  border-radius: 40%;
}

@keyframes animation1 {
  0% {
    transform: translateX(0px);
  }

  25% {
    transform: translateX(600px);
  }

  50% {
    transform: translateY(400px) translateX(600px);
  }

  75% {
    transform: translateX(0px) translateY(400px);
  }

  100% {
    transform: translateY(0px);
  }
}